# Ignore environment variable files
.env.prod
.env.prod.db
.env.*
*.db
*.sqlite
*.log
*.pid
*.tar
*.sock
*.envrc
docker-compose.override.yml

# Ignore Docker volumes
*.vol

# Ignore Python bytecode files
*__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/
*.egg-info/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignore Flask migrations
migrations/
